[submodule "BTManager"]
	path = BTManager
	url = git@github.com:andrewmcdan/Companion-TheCube-BTManager.git
[submodule "openwakeword"]
	path = openwakeword
	url = https://github.com/andrewmcdan/openwakeword
