[submodule "BTManager"]
	path = BTManager
	url = git@github.com:Companion-TheCube/BTManager.git
[submodule "openwakeword"]
	path = openwakeword
	url = git@github.com:Companion-TheCube/openwakeword.git
[submodule "libraries/SQLiteCpp"]
	path = libraries/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp